body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width:481px)  { 


    .titleRow{
        height: 15vh;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;

    }

    .titleRow h1{
        margin: 0px;
    }

    .titleRow p{
        margin-top: 0vh;
    }

    #contentAll{
        display: flex;
        flex-direction: column;
        height: 55vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    #contentRow{
        margin-top: 0vh;
        
        height: 50vh;
        width: 80vw;
 
        display: flex;
        justify-content: space-between;
    }

    .contentRowImg{
        height: 50vh;
        width: 50vw;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start ;
    }

    #contentRow img{
        max-height: 50vh;
        max-width: 50vw;
        object-fit: contain;
    }

    .contentRowText{
        height: 50vh;
        width: 28vw;
        margin: 0px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    .contentRowText h3{
        margin-bottom: 7px;
    }
    .contentRowText p{
        margin: 0px;
    }

    .navigationRow{
        margin-top: 0.5vh;
        height: 5vh;
    }

    .navigationRow button{
        height: 3vh;
        margin: 0px;
        border: none;
        border-radius: 0.5vh;
        color: rgb(30, 30, 30);
        text-align: center;
        font-size: 2vh;
        background-color: rgb(232, 232, 232);
    }

    .navigationRow button:hover{
        cursor: pointer;
    }

    .visibleText{
        display: block;
    }

    .invisibleText{
        display: none;
    }

    #footer{
        margin-left: 10vw;
        margin-right: 10vw;
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    .footerMenu {
        text-decoration: underline;    
    }

    .footerMenu:hover{
        cursor: pointer;
    }
}