@media (min-width:801px)  { 

    html, body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow-y: auto;
    }

    /* -------------------------------------------------- */

    .titleRow{
        width: 80vw;
        height: 4em;

        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        /* background-color: rgb(0, 0, 255); */

    }

    .titleRow h1{
        margin: 0;
    }
    .titleRow p{
        margin: 0;
    }


    .navigationRow{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .navigationRow span{
        height: 1em;

        margin-left: .5em;
        margin-top: .5em;
        margin-bottom: .5em;
        width: 20px;
        text-align: center;
        border-radius: 5px;        
        background-color: rgb(232, 232, 232);

    }

    .navigationRow span:hover{
        cursor: pointer;
    }

    /* -------------------------- */



    .contentDisplay{
        display: none;
    }

    .content{
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* background-color: yellow; */
    }

    .contentImg img{
        max-width: 100%;
        max-height: calc(100vh - 13.5em);
    }

    .contentImg p{
        height: 1em;
        margin-top: 0.25em;
        margin-bottom: 0;
        text-align: end;
        /* background-color: aqua;   */
    }


    .contentText{
        margin: 0;
        padding: 0;
        margin-right: 1em;
        max-height: calc(100vh - 13.5em);
        text-overflow: clip;
        /* background-color: aqua; */
    }

    /* --------------------------------------------------------------- */

    #footer{
        position: absolute;
        bottom: 0;
        left: 0;

        height: 1em;
        width: 80vw;
        max-width: 1200px;

        padding-bottom: 1em;
        padding-top: 1em; 
        padding-left: 10vw;
        padding-right: 10vw;   
        
        display: flex;
        justify-content: space-between;

        
        /* background-color: rgb(255, 0, 0); */
    }

    #footer p{
        margin: 0;
        padding: 0;
    }

    .footerMenu {
        text-decoration: underline;    
    }

    .footerMenu:hover{
        cursor: pointer;
    }
}




@media (max-width:800px)  { 

    html, body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* -------------------------------------------------- */

    .titleRow{
        width: 90vw;
        height: 5em;

        padding-top: 1em;
        padding-bottom: 1em;

    /* background-color: rgb(0, 0, 255); */


    }

    .titleRow h1{
        margin: 0;
        padding: 0;
    }
    .titleRow p{
        margin: 0;
        padding: 0;
    }

    .navigationRow{
        display: none;
    }

    /* -------------------------- */

    .content{
        display: flex;
        align-items: center;
    }


    .contentImg img{
        max-width: 90vw;
    }

    .contentImg p{
        text-align: right;
        margin-top: 1px;
        margin-bottom: 50px;
    }

    .contentText{
        width: 90vw;
        margin-bottom: 50px;

    }






    /* --------------------------------------------------------------- */


    #footer{
        height: 6em;
        width: 90vw;


        /* margin-top: 1em; */

        padding-bottom: 1em;
        padding-top: 1em;    
        
        display: flex;
        flex-direction: column;
        
        
        /* background-color: rgb(255, 0, 0); */
    }

    #footer p{
        margin: 0;
        padding: 0;
    }

    .footerMenu {
        text-decoration: underline;    
    }

    .footerMenu:hover{
        cursor: pointer;
    }
} 


