*{
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}



#grid{
 
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    


}

#greatings{
    margin: 35px;
    color: rgb(94, 94, 94);
    font-weight: bold;
    font-size: x-large;
}

#white{
    color: rgb(255, 255, 255);
}


.project {
    max-width: 300px;
    position: relative;
    margin: 10px;
    border: 10px;
    background-color: beige;

} 

.pics{
    transition: all .3s ease-in-out;
    max-width: 300px;
    border-radius: 2%;
    border-color: aliceblue;
    border-style: outset;
    border-width: 2px;
    
}

.project:hover input{
    transform: scale(1.1);  
    opacity: 50%;
}


.project h1{
    transition: all .3s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-top: auto;
    width: 100%;
    opacity: 0%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
}

.project:hover h1{
    opacity: 100%;
    cursor: pointer;
}
